@import "bootstrap/dist/css/bootstrap.min.css";

body{
  background: rgb(235, 147, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-style {
  margin-top: 3rem;
  height: 35rem;
  width: 25rem;
  border-radius: 10px;
  text-align: center;
}

.card-number {
    font-size: 12rem;
    margin-top: 8rem;
}

.top-icon,
.bottom-icon {
  position: absolute;
  font-size: 5rem;
}

.top-icon {
  top: 1rem;
  left: 1rem;
}

.bottom-icon {
  bottom: 1rem;
  right: 1rem;
  transform: rotate(180deg);
}